body {
    color: white;
    padding: 55px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

.header {
    position: relative;
}

h1 {
    font-family: Bellefair;
    font-size: 150px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: Bellefair;
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-family: Bellefair;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-family: Bellefair;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0;
}

h5 {
    font-family: Barlow Condensed;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 4.72px;
    text-transform: uppercase;
}

p {
    font-family: Barlow;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    font-weight: normal;
    margin: 0;
    color: #D0D6F9;
}

.sh-1 {
    font-family: Bellefair Regular;
    font-size: 28px;
    letter-spacing: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 9px;
}

.sh-2 {
    font-family: Barlow Condensed;
    font-size: 14px;
    letter-spacing: 2.36px;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    color: #D0D6F9;
}

.home-desc {
    left: 165px;
    position: absolute;
    top: 387px;
    width: 450px;
}

.line {
    background-color: #979797;
    height: 1px;
    left: 112px;
    position: absolute;
    top: 50%;
    width: 473px;
    z-index: 1;
}

.menubar {
    display: flex;
    height: 19px;
    justify-content: space-between;
    left: 123px;
    opacity: 100%;
    position: absolute;
    top: 39px;
    width: 542px;
}

.menubar-box {
    backdrop-filter: blur(15px);
    background-color: #FFFFFF40;
    height: 96px;
    left: 610px;
    position: absolute;
    top: 40px;
    vertical-align: middle;
    width: 830px;
    
}

.link {
    box-sizing: border-box;
    color:white;
    display: inline-block;
    font-family: Barlow Condensed;
    letter-spacing: 2.7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
}

.menu-num {
    font-weight: 700;
}

.destinations {
    background-image: url("./assets/destination/background-destination-desktop.jpg");
}

.cur {
    border-bottom: solid white;
}

.not-cur {
    border-bottom: unset;
    z-index: 1;
}

.not-cur:hover {
    border-bottom: solid #FFFFFF50;
    z-index: 1;
}

.not-cur-select {
    color: #D0D6F9;
}

.menu-underline-home {
    border-bottom-width: 3px;
    height: 54px;
    width: 67px;
}

.menu-underline-dest {
    border-bottom-width: 3px;
    height: 54px;
    width: 123px;
}

.menu-underline-crew {
    border-bottom-width: 3px;
    height: 54px;
    width: 68px;
}

.menu-underline-tech {
    border-bottom-width: 3px;
    height: 54px;
    width: 124px;
}

.select-header {
    position: absolute;
    left: 166.5px;
    top: 157px;
}

.select-number {
    color: #FFFFFF25;
    font-weight: bold;
}

.planet-desc-box {
    position: absolute;
    left: 832px;
    top: 310px;
    height: 472px;
    width: 445px;
}

.planet-photo {
    position: absolute;
    top: 343px;
    left: 230px;
}

.planet-selection-bar {
    width: 285.5px;
    height: 34px;
    display: flex;
    justify-content: space-between;
}

.planetselect-moon {
    position: absolute;
    border-bottom-width: 3px;
    height: 31px;
    width: 39px;
}

.planetselect-mars {
    position: absolute;
    border-bottom-width: 3px;
    height: 31px;
    width: 38px;
    left: 75px;
}

.planetselect-europa {
    position: absolute;
    border-bottom-width: 3px;
    height: 31px;
    width: 57px;
    left: 148px;
}

.planetselect-titan {
    position: absolute;
    border-bottom-width: 3px;
    height: 31px;
    width: 43px;
    left: 241px;
}

.planet-h2 {
    margin: 37px 0 14px 0;
}

.planet-hr {
    margin-top: 54px;
    margin-bottom: 29px;
    border-color: #383B4B;
}

.dist-tag {
    position: absolute;
    bottom: 0;
}

.traveltime-tag {
    position: absolute;
    bottom: 0;
    left: 225.5px;
}

.crew {
    background-image: url("assets/crew/background-crew-desktop.jpg");
}

.crew-name {
    position: absolute;
    top: 400px;
    left: 165.5px;
}

.crew-desc {
    position: absolute;
    top: 543px;
    left: 165.5px;
    width: 444px;
}

.position {
    color: #FFFFFF50;
    margin-bottom: 15px;
}

.crew-dots {
    position: absolute;
    left: 167px;
    top: 761px;
    width: 132px;
    display: flex;
    justify-content: space-between;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
}

.curdot {
    background-color: white;
}

.non-curdot {
    background-color: #FFFFFF17;
}

.non-curdot:hover {
    background-color: #FFFFFF50;
}

.crew-link {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    z-index: 1;
}

.vehicles {
    background-image: url("assets/technology/background-technology-desktop.jpg");
}

.tech-desc-block {
    position: absolute;
    left: 325px;
    top: 383px;
}

.tech-desc {
    position: absolute;
    height: 192px;
    width: 444px;
    left: 325px;
    top: 494px;
}

.nav {
    font-family: Barlow Condensed;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.tech-img {
    position: absolute;
    right: 0;
    top: 272px;
}

.bubbles {
    width: 80px;
    height: 304px;
    position: absolute;
    left: 165px;
    top: 383px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bubble {
    border-radius: 100%;
    display: inline-block;
    height: 79px;
    width: 79px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.bubble-num {
    font-family: Bellefair;
    font-size: 32px;
    letter-spacing: 2px;
    position: relative;
    top: 22px;
    left: 1.5px;
    text-decoration: none;
}

.cur-bubble {
    border-color: white;
    background-color: white;
    color: black;
}

.non-cur-bubble {
    border-color: #FFFFFF25;
}

.non-cur-bubble:hover {
    border-color: #FFFFFF;
}

.noncur-bubble-num {
    font-family: Bellefair;
    font-size: 32px;
    letter-spacing: 2px;
    position: relative;
    top: 22px;
    left: 1.5px;
    text-decoration: none;
    color: white;
}

#explore {
    height: 450px;
    left: 862px;
    position: relative;
    text-align: center;
    top: 302px;
    width: 450px;
}

#explore-circle {
    background-color: white;
    border-radius: 100%;
    height: 274px;
    left: 88px;
    position: absolute;
    top: 88px;
    width: 274px;
}

#explore-hidden-circle {
    background-color: #FFFFFF00;
    border-radius: 100%;
    position: relative;
    height: 450px;
    width: 450px;
    z-index: 1;
}

#explore-hidden-circle:hover {
    background-color: #FFFFFF10;   
    
}


#explore-text {
    color: #0B0D17;
    font-family: Bellefair;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    top: 119px;
    width: 274px;
}

#home-h5 {
    margin: 0;
}

#space-h1 {
    margin: 24px 0;
}

#homepage {
    background-image: url("./assets/home/background-home-desktop.jpg");
    
}

#hurley-img {
    position: absolute;
    width: 520px;
    height: 712px;
    left: 783px;
    top: 197px;
}

#shuttleworth-img {
    position: absolute;
    width: 438.44px;
    height: 654px;
    left: 815px;
    top: 246px;
}

#glover-img {
    position: absolute;
    width: 554.39px;
    height: 681px;
    left: 743px;
    top: 246px;
}

#ansari-img {
    position: absolute;
    width: 600.57px;
    height: 607px;
    left: 750px;
    top: 294px;
}